/*Global Fonts*/

/*Titles fonts: Plus Jakarta Sans-----Font-family: "Raleway", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/*Body font: Inter --- font-family: font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/*Tecnical features font: Jetbrains Mono----font-family: "JetBrains Mono", monospace;*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');



/*Reset*/

* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
}

/*Global Variables*/

:root {
    --primary-color: #0A0A0B;
    --secondary-color: #008cff;
    --glow-color: #00d9ff;
    --text-color: #FFFFFF;
    --cards-borders-color: #1E1E22;
    --checklist: #00FF41;
    --h1-size: clamp(1.7rem, 3vw + 1rem, 6rem);
    --h2-size: clamp(1.6rem, 3vw + 0.8rem, 3rem);
    --h3-size: clamp(1.3rem, 2vw + 0.6rem, 2.2rem);
    --h4-size: clamp(1.1rem, 1.5vw + 0.5rem, 1.6rem);
    --h5-size: clamp(1rem, 1vw + 0.4rem, 1.3rem);
    --h6-size: clamp(0.9rem, 0.5vw + 0.3rem, 1.1rem);
    --titles-font: "Raleway", sans-serif;
    --containt-font: "Inter", sans-serif;
    --tecnical-font: "JetBrains Mono", monospace;
    --fw: bold;
}

/*Global styles*/

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

.title {
    font-family: var(--titles-font);
}

.contain {
    font-family: var(--containt-font);
}

.tecnical-contain {
    font-family: var(--tecnical-font);
}

.fw-bold {
    font-weight: var(--fw);
}

.btn {
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 8px;
    border-radius: 20px;
    transition: .2s all;
    border: none;
    font-size: 1.25rem;
    font-weight: var(--fw);
}

.btn:hover {
    box-shadow: 0 0 16px var(--glow-color);
    transform: scale(1.08);
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    overflow-x: hidden;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

footer {
    background-color: var(--cards-borders-color);
    padding: 32px;
    grid-area: footer;
    text-align: center;
}

main {
    grid-area: main;
}

img {
    max-width: 100%;
    height: auto;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    gap: 16px;
    justify-content: center;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

.text-center {
    text-align: center;
}

input,
textarea {
    border: none;
    padding: 8px;
    border-radius: 16px;
    width: 100%;
}


/*-------------*/
/*Mobile Styles*/
/*-------------*/

/*Header Styles*/

header {
    display: flex;
    position: sticky;
    top: 0;
    backdrop-filter: blur(10px);
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: var(--cards-borders-color);
    z-index: 1000;
    grid-area: header;
}

.toggle-menu {
    font-size: 3rem;
    padding: 8px;
    transition: .2s all;
    cursor: pointer;
}

.toggle-menu:hover {
    box-shadow: 0 0 16px var(--glow-color);
    border-radius: 20px;
    transform: scale(1.05);
}

header img {
    width: 75px;
}

nav ul {
    list-style: none;
    display: contents;
}

.nav-item {
    text-decoration: none;

}

/*collapsed navbar*/

.nav {
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 16px;
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    padding: 16px;
    background-color: #1E1E22;
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translateY(-4px);
    transition:
        max-height 0.4s ease,
        opacity 0.3s ease,
        transform 0.3s ease;
}

.nav.active {
    max-height: 300px;
    opacity: 1;
    transform: translateY(0);
}


/*Hero - Section 1*/

.hero {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "logo"
        "text"
        "buttons";
    margin-bottom: 24px;
    align-items: center;
    justify-items: center;
    gap: 24px;
    text-align: center;
    grid-area: hero;
}

.text-container {
    grid-area: text;
}

.img-hero {
    width: 150px;
    height: auto;
    padding: 8px;
    grid-area: logo;
}

.hero-buttons {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    max-width: 320px;
}

/*Vrid method - Section 2*/

.vrid-method {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.vrid-method-logo {
    display: block;
    max-width: 400px;
    grid-area: guarantee-logo;
}

.vrid-method h2 {
    text-align: center;
}

.card-method {
    background-color: var(--cards-borders-color);
    border-radius: 20px;
    padding: 16px;
    display: grid;
    gap: 8px;
    width: 100%;
    max-width: 500px;
}

.card-img {
    max-width: 150px;
    display: block;
    filter: drop-shadow(0 0 16px var(--glow-color));
}

/*benefics - Section 3*/


.vrid-benefics {
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
        "title"
        "benefics";
    justify-items: center;
    padding: 16px;
}

.vrid-benefics h2 {
    grid-area: title;
}

.benefics-container {
    grid-area: benefics;
}

.card-benef {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--glow-color);
    border-radius: 16px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    height: auto;
}

.benef-img {
    max-width: 400px;
    display: block;
    filter: drop-shadow(0 0 16px var(--glow-color));

}

/*Services - Section 4*/

.services {
    display: flex;
    flex-wrap: wrap;
    padding: 16px;
    gap: 16px;
    justify-content: center;
}

.card-services {
    background-color: var(--cards-borders-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 16px;
    border-radius: 20px;
    gap: 8px;
    transition: .2s all;
}

.card-services:hover {
    box-shadow: 0 0 16px var(--glow-color);
    transform: scale(1.04);
}

.new-price {
    color: var(--glow-color);
    filter: drop-shadow(0 0 16px var(--glow-color));

}

.old-price {
    text-decoration: line-through;
}

.card-s-title {
    color: var(--glow-color);
    filter: drop-shadow(0 0 16px var(--glow-color));

}

.buttons-container {
    display: flex;
    gap: 16px;
}

.list-services {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*Lets talk - Section 5*/

.lets-talk {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        "text"
        "form";
    background-color: var(--cards-borders-color);
    align-items: center;
}

.lets-talk h2 {
    grid-area: text;
}

.lets-talk form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 16px;
    grid-area: form;}

label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: 600;
    color: var(--glow-color);
}

/*Questions - section 6*/

.questions {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas:
        "questions-title"
        "questions";
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.questions h2 {
    grid-area: questions-title;
}

.questions-container {
    grid-area: questions;
}

.faq {
    border-bottom: 2px solid var(--glow-color);
    padding: 12px 0;
}

.faq summary {
    list-style: none;
    cursor: pointer;
    font-weight: 600;
}

.faq-content {
    max-width: 600px;
    padding: 8px;
}


/*Services pages styles*/

.mini-hero {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "icon"
        "title"
        "button"
        "description";
    justify-items: center;
    margin: 16px;
    gap: 16px;
}

.mini-hero-img {
    grid-area: icon;
    max-width: 300px;
}

.mini-hero h1 {
    grid-area: title;
}

.mini-hero a {
    grid-area: button;
}

.description {
    grid-area: description;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 16px;
}



/*--------------*/
/*Desktop Styles*/
/*--------------*/

@media (min-width: 1024px) {

    .body {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
    }

    .toggle-menu {
        display: none;
    }

    .nav {
        position: static;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        max-height: none;
        opacity: 1;
    }

    .hero {
        grid-template-columns: auto auto;
        grid-template-rows: 60vh;
        grid-template-areas:
            "logo text";
        padding: 24px;
        margin-bottom: 3rem;
    }

    .img-hero {
        width: 500px;
    }

    .vrid-method {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "guarantee-logo card-meth";
    }

    .lets-talk {
        grid-template-columns: 50% auto;
        grid-template-areas:
            "form text"
            "form text";
    }

    .questions {
        grid-template-columns: auto auto;
        grid-template-areas:
            "questions-title questions"
            "questions-title questions";
    }

    .mini-hero {
        grid-template-columns: 50% 1fr;
        grid-template-areas:
            "icon description"
            "title description"
            "button description";
    }
}